<div class='d-flex justify-content-center align-items-center mt-10 ms-10 me-10 mb-10'>
  <form class="form-signin border rounded">
      <div class="d-flex justify-content-center">
          <h1 class="h3 mb-3 font-weight-normal ">Recuperar senha!</h1>
      </div>
      <label for="senha" class="sr-only  pt-2">Nova Senha</label>
      <input type="password" id="senha" class="form-control mb-1" placeholder="insira a sua senha" required>
      <label for="senha" class="sr-only  pt-2">Digite novamente sua senha</label>
      <input type="password" id="senha" class="form-control mb-1" placeholder="insira a sua senha" required>
      <div class="checkbox mb-3">
      <label class="">
      </label>
      </div>
      <div class=" d-grid gap-2">
          <button class="btn btn-primary btn-block" type="submit">Recuperar</button>
      </div>
  </form>
</div>
