<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="assets/bannerredragon.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
</div>
<div class="container text-center">
  <div class="row">
 <div class="col">
  <a routerLink="/perifericos">
    <img src="assets/mouse-redragon.jpg" style="height: 200px; margin-left: 20px; ">
    <h3 id="ddrd">Mouse Gamer Redragon Cobra M711 RGB, 10000 DPI, 7 Botões Programáveis, Black</h3>
  </a>
  </div>
   <div class="col">
    <a routerLink="/perifericos">
      <img src="assets/mousehyperx.jpg" style="height: 200px; margin-left: 20px; ">
      <h3 id="ddrd">Mouse Gamer HyperX Pulsefire Core RGB, 6200 DPI, 7 botões programáveis, USB, Black</h3>
    </a>
    </div>
     <div class="col">
      <a routerLink="/perifericos">
        <img src="assets/mousemarvo.jpg" style="height: 200px; margin-left: 20px; ">
        <h3 id="ddrd">Mouse Gamer Marvo M355, 7200 DPI, 9 Botões Programáveis, USB, Black</h3>
      </a>
      </div>
       <div class="col">
        <a routerLink="/perifericos">
          <img src="assets/mouserazer.jpg" style="height: 200px; margin-left: 20px; ">
          <h3 id="ddrd">Mouse Gamer Razer DeathAdder Lite, 8500 DPI, 6 Botões Programáveis, Black, RZ01-03340100-R321</h3>
        </a>
        </div>
  </div>
  <br>
  <div class="container text-center">
    <div class="row">
   <div class="col">
    <a routerLink="/perifericos">
      <img src="assets/tecladoavenger.jpg" style="height: 200px; margin-left: 20px; ">
      <h3 id="ddrd">Teclado Gamer Mecânico Redragon Dark Avenger Lunar K568W-R, Rainbow, Switch Blue, ABNT2, White, K568W-R</h3>
    </a>
    </div>
     <div class="col">
      <a routerLink="/perifericos">
        <img src="assets/tecladodark.jpg" style="height: 200px; margin-left: 20px; ">
        <h3 id="ddrd">Teclado Mecânico Gamer Redragon Dark Avenger K568 Rainbow, Switch Blue, ABNT2, Black</h3>
      </a>
      </div>
       <div class="col">
        <a routerLink="/perifericos">
          <img src="assets/tecladogamdias.jpg" style="height: 200px; margin-left: 20px; ">
          <h3 id="ddrd">Teclado Mecânico Gamer Gamdias Hermes E2 Led Blue, Switch Brown, ABNT2, HERMES E2 BLUE BR/BROWN</h3>
        </a>
        </div>
         <div class="col">
          <a routerLink="/perifericos">
            <img src="assets/tecladovinik.jpg" style="height: 200px; margin-left: 20px; ">
            <h3 id="ddrd">Teclado Mecânico Gamer Vinik Shelter, LED Rainbow, Switch Blue, ABNT2, Black, 65403</h3>
          </a>
          </div>
    </div>
    <br>
    <div class="container text-center">
      <div class="row">
     <div class="col">
      <a routerLink="/perifericos">
        <img src="assets/headset1.jpg" style="height: 200px; margin-left: 20px; ">
        <h3 id="ddrd">Headset Gamer Marvo H8321S, 3.5mm, PC, Black/Red</h3>
      </a>
      </div>
       <div class="col">
        <a routerLink="/perifericos">
          <img src="assets/headsetsuperframe.jpg" style="height: 200px; margin-left: 20px; ">
          <h3 id="ddrd">Headset Gamer SuperFrame AURA, 7.1 Surround, RGB, USB, Black</h3>
        </a>
        </div>
         <div class="col">
          <a routerLink="/perifericos">
            <img src="assets/mousepadforce.jpg" style="height: 200px; margin-left: 20px; ">
            <h3 id="ddrd">MousePad Gamer Force One Skyhawk Los Grandes, XXL, 900x400mm, FR.MP.SH.05</h3>
          </a>
          </div>
           <div class="col">
            <a routerLink="/perifericos">
              <img src="assets/mousepadnzxt.jpg" style="height: 200px; margin-left: 20px; ">
              <h3 id="ddrd">Mousepad Gamer NZXT M01, Grande, 850x330x3mm, Black</h3>
            </a>
            </div>
      </div>
      <br>
