<div class="container py-5">
  <div class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="assets/capa.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
  </div>
</div>

<div class="container text-center">
  <div class="row">
 <div class="col">
  <a routerLink="/escolha-seu-pc">
    <img src="assets/computador-t-home-starter-intel-core-i3-2100-nvidia-geforce-gt-240-8gb-ddr3-ssd-120gb_148746.jpg" style="height: 200px; margin-left: 20px; ">
    <h3 id="ddrd">PC Gamer Plataforma Intel 12ª e 13ª Geração DDR5 LGA 1700</h3>
  </a>
  </div>
   <div class="col">
    <a routerLink="/escolha-seu-pc">
      <img src="assets/pc-gamer-t-gamer-flame-amd-ryzen-7-5700x-nvidia-geforce-gtx-1050-ti-8gb-ddr4-ssd-240gb_155051.jpg" style="height: 200px; margin-left: 20px; ">
      <h3 id="ddrd">PC Gamer Plataforma Intel 10ª Geração LGA 1200</h3>
    </a>
    </div>
     <div class="col">
      <a routerLink="/escolha-seu-pc">
        <img src="assets/computador-pro-ryzen.jpeg" style="height: 200px; margin-left: 20px; ">
        <h3 id="ddrd">PC Gamer Plataforma Intel 11ª Geração LGA 1200</h3>
      </a>
      </div>
       <div class="col">
        <a routerLink="/escolha-seu-pc">
          <img src="assets/pc-berserker.jpg" style="height: 200px; margin-left: 20px; ">
          <h3 id="ddrd">PC Gamer Plataforma Intel 12ª e 13ª Geração DDR4 LGA 1700</h3>
        </a>
        </div>
  </div>
  <br>
  <div class="container text-center">
    <div class="row">
   <div class="col">
    <a routerLink="/escolha-seu-pc">
      <img src="assets/t-gamer-thorn.webp" style="height: 200px; margin-left: 20px; ">
      <h3 id="ddrd">PC Gamer Plataforma Intel 12ª e 13ª Geração DDR5 LGA 1700</h3>
    </a>
    </div>
     <div class="col">
      <a routerLink="/escolha-seu-pc">
        <img src="assets/pc-gamer-t-gamer-fury-intel-i3-10100f.jpg" style="height: 200px; margin-left: 20px; ">
        <h3 id="ddrd">PC Gamer Plataforma Intel 10ª Geração LGA 1200</h3>
      </a>
      </div>
       <div class="col">
        <a routerLink="/escolha-seu-pc">
          <img src="assets/pc-gamer-t-gamer-hawk-intel-i5-10400f.jpg" style="height: 200px; margin-left: 20px; ">
          <h3 id="ddrd">PC Gamer Plataforma Intel 11ª Geração LGA 1200</h3>
        </a>
        </div>
         <div class="col">
          <a routerLink="/escolha-seu-pc">
            <img src="assets/pc-gamer-custo-beneficio-2022-ryzen-5-5600x-nvidia-geforce-rtx .jpg" style="height: 200px; margin-left: 20px; ">
            <h3 id="ddrd">PC Gamer Plataforma Intel 12ª e 13ª Geração DDR4 LGA 1700</h3>
          </a>
          </div>
    </div>
    <br>
    <div class="container text-center">
      <div class="row">
     <div class="col">
      <a routerLink="/escolha-seu-pc">
        <img src="assets/pc-gamer-t-gamer-raptor-intel-i5-10400.jpg" style="height: 200px; margin-left: 20px; ">
        <h3 id="ddrd">PC Gamer Plataforma Intel 12ª e 13ª Geração DDR5 LGA 1700</h3>
      </a>
      </div>
       <div class="col">
        <a routerLink="/escolha-seu-pc">
          <img src="assets/pc-gamer-t-gamer-flame-amd-ryzen-7-5700x-nvidia-geforce-gtx-1050-ti-8gb-ddr4-ssd-240gb_155051.jpg" style="height: 200px; margin-left: 20px; ">
          <h3 id="ddrd">PC Gamer Plataforma Intel 10ª Geração LGA 1200</h3>
        </a>
        </div>
         <div class="col">
          <a routerLink="/escolha-seu-pc">
            <img src="assets/computador-t-home-starter-intel-core-i7-3770-nvidia-geforce-gt-750-ti-8gb-ddr3-ssd-120gb_148966.jpg" style="height: 200px; margin-left: 20px; ">
            <h3 id="ddrd">PC Gamer Plataforma Intel 11ª Geração LGA 1200</h3>
          </a>
          </div>
           <div class="col">
            <a routerLink="/escolha-seu-pc">
              <img src="assets/computador-t-home-starter-intel-core-i7-2600-nvidia-geforce-gtx-750-ti-8gb-ddr3-ssd-120gb_151560.jpg" style="height: 200px; margin-left: 20px; ">
              <h3 id="ddrd">PC Gamer Plataforma Intel 12ª e 13ª Geração DDR4 LGA 1700</h3>
            </a>
            </div>
      </div>