<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <title>A loja do seu pc</title>
    </head>
    <body>
      <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" routerLink="/home" routerLinkActive="selected">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/login" routerLinkActive="selected">Login</a>
              </li>
              <div class="dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Menu

                </a>
              </div>
            </ul>
            <form class="d-flex" role="search">
              <input class="form-control me-2" type="pesquisar" placeholder="Pesquisar" aria-label="pesquisar">
              <button class="btn btn-outline-success" type="submit">Pesquisar</button>
            </form>
          </div>
        </div>
        <br>
      </nav>
            <router-outlet></router-outlet>
        <footer class = "bg-secondary pt-3 ps-5 pe-5 pb-3">
            <h3> MegaInfo </h3>
            <p><strong><em>Monte um PC do seu jeito, ou escolha uma de nossas milhares de opções</em></strong> </p>
            <p class="text-center">
                <strong>2022</strong>
            </p>
        </footer>
    </body>
</html>
