.form-signin {
  width: 100%;
  max-width: 380px;
  padding: 15px;
  margin: 20px;
  color: #0db8de;
  background: #1a2226 !important;
  border-radius: 10px !important;


}

input[type="email"],
input[type="password"]{
  background: #1a2226;
  border: 2px solid #0db8de;
  border-radius: 10px;
  margin-bottom: 25px;
  color:#0db8de;
}

input[type="email"]:focus,
input[type="password"]:focus{
  outline: none;
  border: none;
  background: #1a2226;
  color:#0db8de;
  margin: 0;

}
.btn{
  background: #0db8de !important;
  transform: translateY(10px);
  border-radius: 10px !important;
}
.signup{
  text-align: center;
  padding-top: 25px;

}
