#esquerda {
  float:left;
  width:25%;
  height:280px;
}
#meio{
  float:left;
  width:25%;
  height:280px;
}
#direta{
  float:right;
  width:25%;
  height:280px;
}
#marcas{
  font-size: 120%;
  float: left;
}
#ddrd{
  text-align: center;
  font-size: 15px;
}
