<img src="assets/imagem.jpeg" width="100%" height="300px">
<div id = "esquerda">
  <a routerLink="/escolha-seu-pc">
    <img src="assets/escolha-seu-pc.jpg" style="height: 200px; margin-left: 20px; ">
    <h3 style="margin-left: 20px; ">Escolha seu PC </h3>
  </a>
  </div>
  <div id = "meio">
    <a routerLink="/monte-seu-pc">
      <img src="assets/monte-seu-pc.jpg" style="height: 200px; margin-left: 150px; ">
      <h3 style="margin-left: 45%;">Monte seu PC</h3>
    </a>
   </div>
  <div id = "direita">
    <a routerLink="/perifericos">
      <img src="assets/perifericos.jpg" style="height: 200px; margin-left: 300px ">
      <h3 style="margin-left: 75%;">Perifericos</h3>
    </a>
   </div>
