<img src="assets/blackfriday.png" width="100%" >
<div class="container text-center">
  <div class="row">
      <div class="col">
        <a routerLink="/home">
          <img src="assets/escolha-seu-pc.jpg" style="height: 200px; margin-left: 20px; ">
          <h3>Escolha seu PC</h3>
        </a>
      </div>
      <div class="col">
        <a routerLink="/home">
          <img src="assets/monte-seu-pc.jpg" style="height: 200px; margin-left: 20px; ">
          <h3>Monte seu PC</h3>
        </a>
      </div>
      <div class="col">
        <a routerLink="/home">
          <img src="assets/perifericos.jpg" style="height: 200px; margin-left: 20px; ">
          <h3>Perifericos</h3>
        </a>
      </div>
  </div>
       <br><br>
    <div>
      <h4 id="marcas">Melhores marcas</h4>
      <img src="assets/melhores-marcas.png" style="width: 100%;">
    </div>
        <br><br>
      <h4 id="marcas">O melhor dos processadores AMD</h4>
      <img src="assets/AMD.png" style="width: 100%;">
</div>
      <br><br>
<div class="container text-center">
  <div class="row">
    <div class="col">
        <h4 id="marcas">Mais vendidos</h4>
      <a routerLink="/home">
        <img src="assets/processadorryzen-3.jpg" style="height: 200px; margin-left: 20px; ">
        <h3 id="ddrd">Processador AMD Ryzen 3 4100 3.8GHz + Cooler AMD Wraith Stealth, Sem vídeo integrado</h3>
      </a>
    </div>
    <div class="col">
      <a routerLink="/home">
        <img src="assets/processadorryzen-5.jpg" style="height: 200px; margin-left: 20px; ">
        <h3 id="ddrd">Processador AMD Ryzen 5 4500 3.6GHz (4.1GHz Turbo), 6-Cores 12-Threads, Cooler Wraith Stealth, AM4, 100-100000644BOX</h3>
      </a>
    </div>
     <div class="col">
      <a routerLink="/home">
        <img src="assets/ssd-hikvision.jpg" style="height: 200px; margin-left: 20px; ">
        <h3 id="ddrd">SSD Hikvision E100N 128GB , M.2 2280, Leitura 530MBs e Gravação 450MBs, HS-SSD-E100N-128GB</h3>
      </a>
    </div>
    <div class="col">
        <a routerLink="/home">
          <img src="assets/ssdspectrix.jpg" style="height: 200px; margin-left: 20px; ">
          <h3 id="ddrd">SSD XPG Spectrix S20G RGB, 500GB, M.2 2280 NVMe, Leitura 2500MBs e Gravação 1800MBs, ASPECTRIXS20G-500G-C</h3>
        </a>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <a routerLink="/home">
        <img src="assets/ssdsu630.jpg" style="height: 200px; margin-left: 20px; ">
        <h3 id="ddrd">SSD Adata SU630, 240GB, Sata III, Leitura 520MBs E Gravação 450MBs, ASU630SS-240GQ-R</h3>
      </a>
    </div>
    <div class="col">
      <a routerLink="/home">
        <img src="assets/ssd400.jpg" style="height: 200px; margin-left: 20px; ">
        <h3 id="ddrd">SSD Kingston A400, 960GB, Sata III, Leitura 500MBs E Gravação 450MBs, SA400S37/960G</h3>
      </a>
    </div>
    <div class="col">
      <a routerLink="/home">
        <img src="assets/monteryzen3.jpg" style="height: 200px; margin-left: 20px; ">
        <h3 id="ddrd">PC Gamer Plataforma AMD Ryzen 3000</h3>
      </a>
      </div>
      <div class="col">
        <a routerLink="/home">
          <img src="assets/monteintel1213.jpg" style="height: 200px; margin-left: 20px; ">
          <h3 id="ddrd">PC Gamer Plataforma Intel 12ª e 13ª Geração DDR4 LGA 1700</h3>
        </a>
        </div>
  </div>
</div>
